{%extends 'base.html'%} {% block content %}
<div class="container">

    <div class="row">
        {% if images%}
        <h2>Found {{ images|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 articles for the search term {{message}}</h2>
        {% endif %}
        {% for city in location%}
        <a class="list-group-item " href="{% url 'location' %}?location={{city.city}}">
            <li>{{city.city}} </li>
        </a>{% endfor %}

    </div>

    <div class="row">


        {% if images %} {% for image in images %}

        <div class=" cont col-xs-12 col-sm-6  col-md-6  col-lg-4 ">
            <div data-toggle="modal" data-target="#{{image.id}}">
                <div class="hover hover-4 text-white rounded"><img src="{{image.image.url}}" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-4-content">
                        <h3 class="hover-4-title text-uppercase font-weight-bold mb-0">{{image.title}}</h3>
                        <p class="hover-4-description text-uppercase mb-0 small">{{image.description}}</p>
                    </div>
                </div>
            </div>
        </div>




        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{image.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="modal-img" src="{{image.image.url}}" alt="">
                        <p class="modal-description">{{image.description}}</p>
                    </div>
                    <div class="modal-footer">

                        <ul class="list-inline list-unstyled">
                            <button class="btn" value="{{image.image.url}}" onClick="SelfCopy(this.value)">Copy
                                Link</button>

                            <li class="list-inline-item gallery-item-likes"><span class="visually-hidden"></span><i
                                    class="fa fa-tags" aria-hidden="true"></i> {{image.category}} </li>
                            <li class="list-inline-item gallery-item-comments"><span class="visually-hidden"></span><i
                                    class="fa fa-thumb-tack" aria-hidden="true"></i> {{image.location}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% empty %}
        <div class="row">
            <h2 class="text-center">There are no images</h2>
        </div>

        {% endfor %} {% endif %}
    </div>
</div>
{% endblock %}